<section id="alumni" class="home-section">
    <div class="container">

        <!-- Section heading -->
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"> Alumni </h1>
            </div>
        </div>

        <!-- Alumni -->
        <div
            id="alumni-dynamic"
            class="row"
            data-members-api="{{ .Site.Params.members_api_url }}"
            data-image-base="{{ .Site.BaseURL }}/img"
            data-members-kind="alumni">
            <p class="text-muted">Loading alumni...</p>
        </div>

    </div>
</section>
