<section class="blk" id="overview">
  <div class="shell">
    <div class="prose">
      {{ range (where .Site.RegularPages "Type" "overview") }}{{ .Content }}{{ end }}
    </div>

    <div class="affils">
      <div class="lb">Affiliations</div>
      <div class="affil-row">
        <a class="stai" href="/">
          <img class="logo-lt" src="/{{ .Site.Params.logo.image }}" alt="STAI">
          {{ with .Site.Params.logo.image_dark }}<img class="logo-dk" src="/{{ . }}" alt="STAI">{{ end }}
        </a>
        <a class="kaist" href="https://gsai.kaist.ac.kr/"><img src="/img/logo_kaist.png" alt="KAIST"></a>
        <a class="tueai" href="https://tuebingen.ai/"><img src="/img/tueai_logo_black_text.svg" alt="Tübingen AI Center"></a>
        <a class="unitue" href="https://uni-tuebingen.de/"><img src="/img/logo_uni_tue.svg" alt="University of Tübingen"></a>
        <a class="imprs" href="https://imprs.is.mpg.de/"><img src="/img/imprs_is_logo.png" alt="IMPRS-IS"></a>
        <a class="ellis" href="https://ellis.eu/"><img src="/img/ellis_logo.png" alt="ELLIS"></a>
      </div>
    </div>
  </div>
</section>
